{% extends 'customer/profile.html' %}


{% block user_content %}
    <div class="user-info-zone favourites-profile">
        <h3>Избранное</h3>

        {% if books %}

            <div class="books books-favourites">
                {% for book in books %}
                    {% include 'store/book.html' with book=book %}
                {% endfor %}
            </div>

            {% include 'store/paginator.html' %}

            <script>
                var favourites_book_description = document.getElementsByClassName('book')
                for(var i=0; i < favourites_book_description.length; i++) {
                    var description = favourites_book_description[i].getElementsByClassName('description')[0]
                    var max_length = 100
                    if(description.textContent.length > max_length) {
                        description.textContent = description.textContent.substring(0, max_length) + '...'
                    }
                    
                }
            </script>

        {% else %}
            <p>Список избранного пуст.<br>Посмотрите наши книги. Если что-то понравится нажнмите "В избранное"!</p>
        {% endif %}
    </div>

    

{% endblock %}