{% extends 'store/base.html' %}
{% load sidebar %}


{% block content %}
    <div class="profile">
        <div class="user-menu-zone">

            <div class="title-zone">
                <img src="{{ user.image.url }}" alt="{{ user }}">
                {% if request.user == user %}
                    <a class="name" href="{% url 'profile' %}">{{ user }}</a>
                {% else %}
                    <a class="name" href="{% url 'user-profile' user_name=user.user_name %}">{{ user }}</a>
                {% endif %}
                {% if user.connectionhistory.is_online %}
                    <p class="online">online</p>
                {% else %}
                    <p class="online">offline</p>
                {% endif %}
            </div>

            <div class="menu-zone">
                {% for menu_item in user_menu %}
                    {% if menu_item.url_name == user_menu_selected %}
                        <a class="menu-item selected" href="{% url menu_item.url_name %}">{{ menu_item.title }}</a>
                    {% else %}
                        <a class="menu-item" href="{% url menu_item.url_name %}">{{ menu_item.title }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            
        </div>

        {% block user_content %}
            <div class="user-info-zone main-profile">

                <h3>Контактная информация</h3>
                <p class="email">Электронная почта:<br>{{ user.email }}</p>
                
                {% if user.phone %}
                    <p class="phone">Телефон:<br>{{ user.phone }}</p>
                {% endif %}

                {% if user.about %}
                    <p class="about">О себе:<br>{{ user.about }}</p>
                {% endif %}

                {% if authors_interest %}
                    <p class="authors-interest">Интересующие авторы:<br></p>
                    {% for author in authors_interest %}
                        <a href="{{ author.get_absolute_url }}" class="author-interest">{{ author.name }}</a>
                    {% endfor %}
                {% endif %}

                {% if books_interest %}
                    <p class="books-interest">Интересующие книги:<br></p>
                    {% for book in books_interest %}
                        <a href="{{ book.get_absolute_url }}" class="book-interest">{{ book.title }}</a>
                    {% endfor %}
                {% endif %}
                
            </div>
        {% endblock %}
    </div>
{% endblock %}



{% block sidebar %}
    <div class="profile-sidebar">
        {% sidebar_genres_tag %}

        {% sidebar_books_tag %}
    </div>
{% endblock %}