{% load static %}


{% if page_obj.paginator.num_pages > 1 %}
<div class="pagination">
    
    <span class="list-pages">
        {% if page_obj.has_previous %}
            <a class="previous btn" 
            {% if other_params %}
                href="?{{ other_params }}&page={{ page_obj.previous_page_number }}" 
            {% else %}
                href="?page={{ page_obj.previous_page_number }}"
            {% endif %}><div class="arrow"></div></a>
        {% else %}
            <span class="previous btn"><div class="arrow"></div></span>
        {% endif %}
        
        {% if page_obj.has_previous %}
            <a
            {% if other_params %}
                href="?{{ other_params }}&page=1" 
            {% else %}
                href="?page=1"
            {% endif %}>1</a>
            {% if page_obj.number > 3 %}
                <span>...</span>
                <a
                {% if other_params %}
                    href="?{{ other_params }}&page={{ page_obj.previous_page_number }}" 
                {% else %}
                    href="?page={{ page_obj.previous_page_number }}"
                {% endif %}>{{ page_obj.previous_page_number }}</a>
            {% elif page_obj.number != 2 %}
                <a
                {% if other_params %}
                    href="?{{ other_params }}&page={{ page_obj.previous_page_number }}" 
                {% else %}
                    href="?page={{ page_obj.previous_page_number }}"
                {% endif %}>{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

        <span class="current">
            {{ page_obj.number }}
        </span>

        {% if page_obj.has_next %}
            <a
            {% if other_params %}
                href="?{{ other_params }}&page={{ page_obj.next_page_number }}" 
            {% else %}
                href="?page={{ page_obj.next_page_number }}"
            {% endif %}>{{ page_obj.next_page_number }}</a>
            {% if page_obj.next_page_number|add:"1" <  page_obj.paginator.num_pages %}
                <span>...</span>
                <a
                {% if other_params %}
                    href="?{{ other_params }}&page={{ page_obj.paginator.num_pages }}" 
                {% else %}
                    href="?page={{ page_obj.paginator.num_pages }}"
                {% endif %}>{{ page_obj.paginator.num_pages }}</a>
            {% elif page_obj.next_page_number !=  page_obj.paginator.num_pages %}
                <a
                {% if other_params %}
                    href="?{{ other_params }}&page={{ page_obj.paginator.num_pages }}" 
                {% else %}
                    href="?page={{ page_obj.paginator.num_pages }}"
                {% endif %}>{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
        {% endif %}

        {% if page_obj.has_next %}
            <a class="next btn"
            {% if other_params %}
                href="?{{ other_params }}&page={{ page_obj.next_page_number }}" 
            {% else %}
                href="?page={{ page_obj.next_page_number }}"
            {% endif %}><div class="arrow"></div></a>
        {% else %}
            <span class="next btn"><div class="arrow"></div></span>
        {% endif %} 
    </span>
    
</div>
{% endif %}