// $header_heigth:80px;
// $center_min_heigth:900px;
// $footer_height:120px;

// $header_footer_color:#171C4B;
// $center_color:#8F5DF9;
// $ligth_color:#fefbf1;

@import "static-variables.scss";

.content {
    .authors-title {
        margin-top: 15px;
        border-radius: 5px;
        background-color: $ligth_color;
        display: inline-block;
        padding: 10px;
        padding-left: 70px;
        padding-right: 70px;
        h3 {
            color: black;
            font-size: 24px;
        }
    }

    .authors {
        background-color: $ligth_color;
        margin-top: 15px;
        border-radius: 5px;
        padding: 10px;

        .search {
            input {
                padding: 10px;
                width: 100%;
                border: 2px solid black;
                border-radius: 10px;
                
            }
        }

        .author {
            display: block;
            margin-top: 10px;
            img {
                display: inline-block;
                width: 80px;
                border-radius: 10px;
            }
            .info {
                padding-top: 15px;
                margin-left: 15px;
                display: inline-block;
                vertical-align: top;
                .title {
                    font-size: 24px;
                    color: black;
                }
                .books-count {
                    color: grey;
                }
            }
            &:hover {
                outline: 2px solid $header_footer_color;
                border-radius: 10px;
                background-color: #171c4b0e;
            }
        }
    }
}
.sidebar-authors-margin {
    margin-top: 10px;
}
