// $header_heigth:80px;
// $center_min_heigth:900px;
// $footer_height:120px;

// $header_footer_color:#171C4B;
// $center_color:#8F5DF9;
// $ligth_color:#fefbf1;

@import "static-variables.scss";

.book-detail {
    margin-top: 15px;
    padding: 10px;
    background-color: $header_footer_color;
    border-radius: 5px;
    .top {
        .image {
            display: inline-block;
            img {
                width: 200px;
                border-radius: 5px;
            }
        }
        .info {
            vertical-align: top;
            margin-left: 15px;
            display: inline-block;
            color: $ligth_color;
            .book-title {
                font-size: 32px;
            }
            p {
                margin-top: 10px;
                .comma:last-child {
                    display: none;
                }
            }
            a {
                color: $selected_color;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .middle {
        margin-top: 15px;
        color: $ligth_color;
        .description-title {
            font-size: 20px;
        }
        hr {
            border: none;
            outline: 2px solid $ligth_color;
        }
        .description {
            margin-top: 15px;
        }
    }

    .bottom {
        .buy {
            position: relative;
            margin-top: 10px;
            .btn-buy {
                display: inline-block;
                box-sizing: border-box;
                text-align: center;
                border: none;
                border-radius: 5px;
                border: 2px solid $selected_color;
                width: 150px;
                padding: 5px;
                padding-left: 20px;
                padding-right: 20px;
                background-color: $selected_color;
                color: $ligth_color;
                font-size: 16px;
                cursor: pointer;

                &.in_cart {
                    background-color: $green_color;
                    border-color: $green_color;
                }

                span::before {
                    display: inline-block;
                    vertical-align: top;
                    content: "";
                    background-image: url("img/basket-white.svg");
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    margin-right: 7px;
                    background-size: 20px;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
            .price {
                margin-left: 15px;
                font-size: 18px;
                color: $ligth_color;
                &::after {
                    content: "\20BD";
                }
            }
            .old-price {
                margin-left: 10px; 
                font-size: 14px;
                color: $light_gray_color;
                text-decoration: line-through;
                &::after {
                    content: "\20BD";
                }
            }
            .favourites {
                position: absolute;
                display: inline-block;
                right: 20px;
                top: 10px;
                .btn {
                    padding: 5px;
                    padding-left: 15px;
                    padding-right: 15px;
                    color: $selected_color;
                    border: 2px solid $selected_color;
                    border-radius: 5px;
                    &:hover {
                        background-color: $selected_color;
                        color: $ligth_color;
                        cursor: pointer;
                    }
                }
                .in_favourites {
                    background-color: $selected_color;
                    color: $ligth_color;
                    cursor: pointer;
                }
            }
        }
    }
}
.comments {
    background-color: $header_footer_color;
    padding: 10px;
    padding-bottom: 20px;
    margin-top: 15px;
    border-radius: 5px;
    color: $ligth_color;
    .comments-title {
        font-size: 24px;
    }
    .btn-login {
        cursor: pointer;
            display: inline-block;
            background-color: $header_footer_color;
            margin-top: 5px;
            padding: 5px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 5px;
            border: 2px solid $selected_color;
            color: $selected_color;
            font-size: 18px;
            &:hover {
                background-color: $selected_color;
                color: $ligth_color;
            }
    }
    form {
        textarea {
            box-sizing: border-box;
            width: 100%;
            margin-top: 10px;
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 5px;
            font-size: 14px;
            outline: none;
            border: 1px solid $selected_color;
            background-color: $header_footer_color;
            color: $ligth_color;
            resize: none;
            height: 60px;
        }
        button,
        .answer-submit-btn {
            cursor: pointer;
            display: inline-block;
            background-color: $header_footer_color;
            margin-top: 5px;
            padding: 5px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 5px;
            border: 2px solid $selected_color;
            color: $selected_color;
            font-size: 18px;
            &:hover {
                background-color: $selected_color;
                color: $ligth_color;
            }
        }
    }

    .comment {
        margin-top: 25px;
        &.show-comment {
            background-color: $opacity_selected_color;
            outline: 5px solid $opacity_selected_color;
            border-radius: 5px;
        }
        .image {
            float: left;
            img {
                width: 50px;
                border-radius: 50%;
            }
            &:hover {
                opacity: 0.8;
            }
        }
        .comment-info {
            position: relative;
            display: block;
            float: left;
            margin-left: 10px;
            width: 92%;
            p {
                display: inline-block;
            }
            .user-name {
                font-size: 20px;
                color: $ligth_color;
                &:hover {
                    color: $selected_color;
                }
            }
            .date {
                font-size: 14px;
                color: $light_gray_color;
                margin-left: 5px;
                &.date-change {
                    float: right;
                    margin-left: 0px;
                    margin-top: 5px;
                }
            }
            .comment-change {
                float: right;
                cursor: pointer;
                margin-right: 15px;
                color: $light_gray_color;
                &:hover {
                    color: $selected_color;
                }
            }
            .delete {
                float: right;
                cursor: pointer;
                color: $light_gray_color;
                &:hover {
                    color: red;
                }
            }
            .comment-delete {
                display: none;
            }
            .comment-text {
                margin-top: 5px;
                display: block;
                &.comment-text-delete {
                    color: $light_gray_color;
                }
            }
            .answer {
                cursor: pointer;
                margin-top: 5px;
                display: inline-block;
                color: $light_gray_color;
                &:hover {
                    color: $selected_color;
                }
            }
            
            .answer-form {
                textarea {
                    box-sizing: border-box;
                    width: 100%;
                    margin-top: 10px;
                    padding: 5px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 5px;
                    font-size: 14px;
                    outline: none;
                    border: 1px solid $selected_color;
                    background-color: $header_footer_color;
                    color: $ligth_color;
                    resize: none;
                    height: 60px;
                }
                .answer-submit-btn {
                    cursor: pointer;
                    display: inline-block;
                    background-color: $header_footer_color;
                    margin-top: 5px;
                    padding: 5px;
                    padding-left: 20px;
                    padding-right: 20px;
                    border-radius: 5px;
                    border: 2px solid $selected_color;
                    color: $selected_color;
                    font-size: 18px;
                    &:hover {
                        background-color: $selected_color;
                        color: $ligth_color;
                    }
                }
            }
        }
        &::after {
            display: table;
            content: "";
            clear: both;
        }
    }

    .subcomment {
        margin-top: 20px;
        padding-left: 60px;
        .subcomment-to-comment {
            display: block;
            width: 100%;
            box-sizing: border-box;
            p {
                color: $light_gray_color;
                margin-bottom: 5px;
                cursor: pointer;
                display: inline-block;
                &:hover {
                    color: $selected_color
                }
                p {
                    display: inline-block;
                }
            }
            
        }
    }
}

.book-detail-sidebar {
    margin-top: -50px;
}