// $header_heigth:80px;
// $center_min_heigth:900px;
// $footer_height:120px;

// $header_footer_color:#171C4B;
// $center_color:#8F5DF9;
// $ligth_color:#fefbf1;

@import "static-variables.scss";

.content {
    .collection-detail {
        margin-top: 15px;
        .collection-info {
            background-color: $header_footer_color;
            border-radius: 5px;
            display: inline-block;
            padding: 10px;
            padding-left: 50px;
            padding-right: 50px;
            .title {
                vertical-align: middle;
                font-size: 24px;
                color: $ligth_color;
            }
            .books-count {
                color: $light_gray_color;
            }
        }

        .subcollections {
            .subcollection {
                width: 190px;
                margin-top: 15px;
                margin-left: 15px;
                background-color: $header_footer_color;
                padding: 10px;
                border-radius: 5px;
                display: inline-block;
                img {
                    width: 100px;
                    text-align: center;
                    display: block;
                    margin: auto;
                }
                h3 {
                    margin-top: 10px;
                    text-align: center;
                    font-size: 18px;
                    color: $ligth_color;
                }
                .books-count {
                    color: $light_gray_color;
                    text-align: center;
                }
                &:nth-child(4n-3) {
                    margin-left: 0px;
                }
                &:hover {
                    outline: 3px solid $selected_color;
                    background-color: $opacity_selected_color;
                }
            }
        }
    }

    .subcollection-detail {
        margin-top: 15px;
        .collection-info {
            background-color: $header_footer_color;
            border-radius: 5px;
            display: inline-block;
            padding: 10px;
            .title {
                vertical-align: middle;
                font-size: 24px;
                color: $ligth_color;
            }
            &:hover {
                outline: 2px solid $selected_color;
                background-color: $opacity_selected_color;
            }
        }

        .subcollection {
            background-color: $header_footer_color;
            border-radius: 5px;
            padding: 10px;
            margin-top: 15px;
            color: $ligth_color;
            img {
                width: 70px;
                display: inline-block;
                border-radius: 5px;
            }
            .subcollection-info {
                display: inline-block;
                max-width: 780px;
                margin-left: 10px;
                h3 {
                    font-size: 22px;
                }
                .description {
                    color: $light_gray_color;
                }
                .books-count {
                    color: $light_gray_color;
                }
            }
        }
    }
    
}