@import "static-variables.scss";


.order-zone {
    .order {
        display: block;
        margin-top: 15px;
        font-size: 18px;
        .order-header {
            color: $ligth_color;
            .status {
                font-size: 18px;
                display: inline;
                float: right;
                span {
                    color: $green_color;
                }
            }
            .price::after {
                content: "\20BD";
            }
            p {
                margin-top: 0;
                margin-bottom: 5px;
            }
        }
        
        .positions {
            .position {
                position: relative;
                // border: 1px solid red;
                margin-top: 15px;
                .book {
                    .image {
                        float: left;
                        img {
                            width: 70px;
                            border-radius: 5px;
                        }
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                    .info {
                        float: left;
                        width: 540px;
                        margin-left: 15px;
                        .title {
                            color: $ligth_color;
                            font-size: 24px;
                            &:hover {
                                opacity: 0.8;
                            }
                        }
                        p {
                            font-size: 14px;
                            margin-top: 5px;
                            margin-bottom: 0px !important;
                        }
                        a {
                            color: $selected_color;
                        }
                        .genres-book {
                            margin-bottom: 10px;
                        }
                        .genres-book .comma:last-child {
                            display: none;
                        }
                        .count-zone {
                            position: relative;
                            display: block;
                            flex-wrap: wrap;
                            margin-top: 15px;
                            .price {
                                color: $ligth_color;
                                display: block;
                                font-size: 16px;
                                width: 100%;
                                box-sizing: border-box;
                                .price-rub {
                                    font-size: 18px;
                                    &::after {
                                        content: "\20BD";
                                    }
                                }
                                .purchase_price {
                                    float: right;
                                    color: $light_gray_color;
                                    font-size: 16px;
                                    span::after {
                                        content: "\20BD";
                                    }
                                }
                            }
                        }
                    }
                    &::after {
                        content: "";
                        display: table;
                        clear: both;
                    }
                }
    
                &::after {
                    padding-top: 10px;
                    border-bottom: 2px solid $ligth_color;
                    display: block;
                    content: '';
                }
                &:last-child::after {
                    display: none;
                }
            }
        }
    }
    .pagination {
        margin-bottom: 10px;
    }
}