$header_heigth:80px;
$center_min_heigth:900px;
$footer_height:120px;

// $header_footer_color:#222D32;
// $center_color:#212529;
$ligth_color:#fefbf1;
$selected_color: #0DB8DE;
$opacity_selected_color: rgba(13, 184, 222, 0.15);
$green_color: rgb(0, 187, 0);
$light_gray_color: #979797;


$header_footer_color:#1c1f22;
$center_color:#222D32;